@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    font-family: 'Roboto', sans-serif;
    transition: all .3s;
}

html, body {
    width: 100%;
    background-color: rgb(30, 30, 30);
}

body {
    display: flex;
    justify-content: center;
}

.app {
    flex-basis: 800px;
    margin: 30px;
}

.timer {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 10px;
    border: 1px solid rgba(149,104,255, .6);
    padding: 30px;
    box-shadow: 0px 0px 10px 0px rgba(149,104,255, .6);
    margin-bottom: 40px;
    
}

.title {
    text-align: center;
    color: rgba(223, 209, 255, 0.5);
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
}

.date {
    font-size: 30px;
    text-align: center;
    color: rgba(255, 255, 255, .8)
}

.timer.critical .date {
    color: rgba(255, 50, 50, .6)
}

.timer.critical .title {
    color: rgba(255, 50, 50, .5)
}

.timer.critical {
    border-color: rgba(255, 50, 50, .6);
    box-shadow: 0px 0px 10px 0px rgba(255, 50, 50, .6);
}